<div class="category-box">
  <div class="tab-categories">
    <div class="category-contents">
      <div class="contents">
        <span>
          <%= link_to "ALL", cosmetics_path ,class:"link" %>
        </span>
      </div>
      <% categories.each do |category| %>
      <div class="contents" >
        <span>
          <%= link_to category.category_name , cosmetics_path(category_id: category.id), class:"link" %>
          (<%= category.cosmetics.count %>)
        </span>
      </div>
      <% end %>
    </div>
  </div>
  <!--div class="next-btn">></div-->
</div>