// Place all the styles related to the public/calendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.calendar-container {
   margin: 0 auto;
   width: 90%;
}
.calendar-row{
  margin: 2vh auto;
  text-align: center;
}
.calendar-row span{
  display: inline-block;
  margin: 2vh auto;
  width: 7vh;
}
.calendar-box{
  margin: 2rem auto;
  width: 90%;
  height: 20vh;
  vertical-align: top;
}
.calendar-box img{
  object-fit: cover;
  margin: 1rem;
}
.date-container {
   //display: flex;
   //flex-wrap: wrap;
  // align-items: stretch;
   margin: 0 auto;
   width: 90%;
}
.dates{
  min-height: 20vh;
}
.date-image{
  height: 15vh;
}