// Place all the styles related to the public/calendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.calendar-container {
   display: flex;
   flex-wrap: wrap;
  // align-items: stretch;
   margin: 0 auto;
   width: 90%;
}
.calendar-row{
  margin: 2vh auto;
  text-align: center;
}
.calendar-row span{
  margin: 10vh auto;
}
.calendar-box{
  margin: 2rem auto;
  width: 90%;
  height: 20vh;
  vertical-align: top;
}
.calendar-box img{
  object-fit: cover;
  margin: 1rem;
}
.dates-row{
  height: 100vh;
}