// Place all the styles related to the public/cosmetics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.cosmetic-box{
  display: flex;
  width: 90%;
  text-align: center;
  margin: 10px auto;
}
.category{
  list-style: none;
  overflow: hidden;
}
.category-table{
  width: 200px;
  text-align: center;
  background-color: #BE8A62;
  float: left;
  height: 50px;
  line-height: 50px;
  margin: 2px;
}
.category-table span{
  text-decoration: none;
  padding: 20px;
  color: #fff;
}