// Place all the styles related to the public/cosmetics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.cosmetic-box{
  display: flex;
  width: 90%;
  text-align: center;
  margin: 10px auto;
}
