// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "skippr";

.image1 {
  background-image: url(image1.jpg);
}

.image2 {
  background-image: url(image2.jpg);
}

.image3 {
  background-image: url(image3.jpg);
}

.image4 {
  background-image: url(image4.jpg);
}

.image5 {
  background-image: url(image5.jpg);
}

#tall {
  height: 600px;
}

.menu{
  display: flex;
  justify-content: center;
}
.menu-box{
  display: flex;
  justify-content: space-between;
  margin: 5rem 0;
  width: 80%;
  //background-color: #ffb6c1;
  text-align: center;
}
.menu-item{
  margin: 0 auto;
  width: 10em;
}