<%= stylesheet_link_tag "public/homes", :media => "all" %>

<div class="container">
  <div class="row">
    <div class="title">
      <h3>Service</h3>
    </div>
  </div>
  <div class="row">
    <div class="service-box">
      <div class="service-item">
        <div class="icon">
          <%= image_tag 'icon_lip.png',size:"50x50" %>
        </div>
        <h5>自分の持っているコスメを</br>整理・見える化</h5>
        <p>1つ1つのコスメはレビュー機能で評価、コメント、写真をつけて保存できます。</br>
        カテゴリー別に保存できるから、どのコスメを何個持っているかも一目でわかる♩
        </p>
      </div>
      <div class="service-item">
        <div class="icon">
          <%= image_tag 'icon_lady.png',size:"50x50" %>
        </div>
        <h5>公開／非公開が選べる</h5>
        <p>自分の記録用として残すのも良し、他のユーザーへシェアするも良し◎</p>
      </div>
      <div class="service-item">
        <div class="icon">
          <%= image_tag 'icon_document.png',size:"50x50" %>
        </div>
        <h5>使ったコスメを記録</h5>
        <p>その日使ったコスメをマイページに記録しておくことで、友達から褒められたメイク、写真を振り返って”盛れてる！”と思った日のメイクをカレンダーから振り返ることができます◎</p>
      </div>
    </div>
  </div>
  <div class="message">
    <h2>We look forward to serving you!</h2>
  </div>
</div>
