@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
@import "skippr";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quattrocento', serif;
}
html , body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  margin-top: auto;
  background-color: #BE8A62;
  color: white;
}

.flash{
  .notice {
   background-color: #ff8c00;
   color: #fff;
   text-align: center;
 }
}

img{
  max-width: 100%;
  height: auto;
}

//button
.btn {
  display: block;
  position: relative;
  padding: 0.8em;
  text-align: center;
	text-decoration: none;
  width: 100px;
  height: 50px;
  color: #BE8A62;
  background: #fff;
  border: 2px solid #BE8A62;
  border-radius: 10px;
}
.btn:hover {
  color: #fff;
	cursor: pointer;
	text-decoration: none;
  background-color: #BE8A62;
}
.btn2 {
  position: relative;
  display: inline-block;
  color: #BE8A62;
  text-decoration: none;
}
.btn2:hover {
  cursor: pointer;
  text-decoration: none;
  color: #BE8A62;
  font-size: 1.5em;
}
.btn2::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #BE8A62;
  transform: scale(0.5, 1);
  transform-origin: center top;
  transition: transform .3s;
}
.btn2:hover::after {
  transform: scale(1, 1);
}
.button {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 10pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : rgba(190, 138, 98, 0.71);     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 0.8em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 1px 1px #666666;  /* 影の設定 */
  border        : 2px solid rgba(190, 138, 98, 0.71);    /* 枠の指定 */
}
.button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : rgba(190, 138, 98, 0.71);     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.navbar {
  background-color: #BE8A62;
  background-image: none;
}
.title{
  margin: 2rem auto;
  text-align: center;
}
.link{
  text-decoration: none;
  color: white ;
}
.link2{
  text-decoration: none;
  color: black ;
}

//homes
.image1 {
  background-image: url("../../assets/images/image1.jpg");
}

.image2 {
  background-image: url("../../assets/images/image2.jpg");
}

.image3 {
  background-image: url("../../assets/images/image3.jpg");
}

.image4 {
  background-image: url("../../assets/images/image4.jpg");
}

.image5 {
  background-image: url("../../assets/images/image5.jpg");
}

#tall {
  height: 600px;
}
.menu{
  display: flex;
  justify-content: center;
}
.menu-box{
  display: flex;
  margin: 5rem 0;
  width: 80%;
  text-align: center;
}
.menu-item{
  margin: 0 auto;
  width: 10em;
  background-color: #ffb6c1;
}
.service-box{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.service-item{
  width: 45%;
  margin: 1rem 2rem;
  text-align: center;
  border: solid;
  padding: 2rem;
}
.icon{
  margin: 1rem 2rem 2rem;
}

.message{
  text-align: center;
  margin: 3rem auto;
}

//cosmetics
.category-box{
  position: relative;
  width: 90%;
  margin: 0 auto;
}
.tab-categories {
  width: 100%;
  background: #555;
  overflow-scrolling: touch;
   white-space: nowrap;
  overflow-x: scroll;
   -webkit-overflow-scrolling: touch; /* 慣性スクロール */
}
.category-contents {
  max-width: 1060px; /* メニューの最大幅 */
  min-width: 770px; /* メニューの最小幅 */
  width: 90%;
  height: 60px;
  line-height: 50px;
  margin: 0 auto;
  list-style: none;
  display: flex;
  padding-right: 25px; /* 右側の固定分余白を空ける */
}
.contents {
  flex-shrink: 0; /* 自動制御を0にして縮小しなくする */
  width: 200px; /* メニューの個別の幅 */
  text-align: center;
  margin: 1vh;
}
.contents :hover {
  background: #222; /* マウスホバー時の背景色 */
}
.contents span {
  color: #fff; /* メニューの文字色 */
  text-decoration: none;
}
.next-btn { /* 右側に固定する部分 */
  position: absolute;
  top: 0;
  right: 0;
  width: 25px; /* 固定部分の幅 */
  height: 40px; /* メニューの高さに合わせる */
  line-height: 40px;
  background: #fff;
  color: #555;
}
@media only screen and (min-width: 771px) { /* PCサイズでの指定 */
.tab-categories ul {
  padding: 0;
}
.tab-categories ul li {
  width: 350px; /* メニューの個別の幅 */
}
.next-btn {
  display: none; /* 右側の固定部分を非表示 */
}
}

.cosmetic-box{
  //display:inline-block;
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  text-align: center;
  margin: 10px auto;
}
@media screen and (min-width: 768px) and (max-width: 991.9px){
  /* 768~991.9pxまで */
  .cosmetic-box{
    width: 640px;
  }
}
@media screen and (min-width: 992px){
  /* 992以上 */
  .cosmetic-box{
    width: 960px;
  }
}

.cosmetic-container{
  margin: 10px;
  width: 300px;
  height: 300px;
  text-align: center;
}
.profile-image{
  margin-bottom: 1vh;
}
.profile-image img{
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width: 30px;
  height: 30px;
  object-fit: cover; /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */
}
.cosmetic-image {
  width: 180px;
  height: 180px;
  display: block;
  margin: 0 auto;
}

.profile-image2 img{
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  border: 5px double #BE8A62;
  padding: 5px;
  width: 150px;
  height: 150px;
  object-fit: cover; /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */
}
.cosmetic-image img{
  width: 160px;
  height: 160px;
  object-fit: cover;
}
.cosmetic-row{
  margin: 0 auto;
}
.cosmetic-row p{
  margin: 0;
}


//calendar
.calendar-container {
   margin: 0 auto;
   width: 90%;
}
.calendar-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2vh auto;
  text-align: center;
  min-height: 40px;
}
.calendar-row span{
  //display: inline-block;
  margin: 1vh auto;
  width: 7vh;
}
.calendar-box{
  margin: 2rem auto;
  width: 90%;
  height: 20vh;
  vertical-align: top;
}
.calendar-box img{
  object-fit: cover;
  margin: 1rem;
}
.date-container {
   //display: flex;
   //flex-wrap: wrap;
  // align-items: stretch;
   margin: 0 auto;
   width: 90%;
}
.dates{
  height: 20vh;
}
.date-image{
  height: 15vh;
}